/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* body */
body {
    width: 100%;
    margin: auto;
    height:100%;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/* header */
header {
    background-color: rgb(211, 208, 206);
}


/* nav */
nav {
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #000;
}

.logo img {
    width: 200px;
}

.menu {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.menu img {
    width: 20px;
}


/* main-container */
#main-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
   /* background-color: aliceblue; */
}

.items-container {
    width: 65%;
    margin: 30px 0;
}

.items-container h2 {
    margin: 30px 0px;
    border-bottom: 1px solid;
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
}

#items {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 6px lightgrey;
    border-radius: 2px;
}

.product-title {

    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;

}

.product-varnish {

    font-weight: bolder;
    margin-bottom: 1rem;

}

.product-description {

    margin-bottom: 1rem;

}

.product-quantity {

    margin-bottom: 1rem;

}


#items img {
    width: 100px;
}

.description p:first-child, .description p:last-child {
    font-weight: bold;
}

.resume-container {
    width: 30%;
    margin: 30px 0px;
}

.items-resume h2 {
    margin: 30px 0px;
    border-bottom: 1px solid;
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
}

.total-price {
    padding: 15px;
    line-height: 45px;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 6px lightgrey;
}

.number {
    display: flex;
    justify-content: space-between;
}

.number p:first-child {
    font-weight: bold;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total p:first-child {
    font-weight: bold;
}

.form-container {
    box-shadow: 0px 0px 10px 6px lightgrey;
    padding: 15px;
    border-radius: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    background-color: lightgrey;
    border: none;
    border-radius: 2px;
}

.button {
    margin: 30px 0px;
    border-radius: 2px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}


/* footer */
footer {
    width: 100%;
    position:absolute;
    background-color: rgb(211, 208, 206);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #000;
}

footer img {
    width: 200px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.menu2 {
    width: 40%;
}

/* responsive mobile */
@media only screen and (max-width: 600px) {

    .accueil {
        display: none;
    }

    .main-title {
        text-align: center;
        font-size: 21px;
        line-height: 40px;
    }

    .part1, .part3 {
        display: block;
        text-align: center;
    }

    .part2 img {
        margin-bottom: 30px;
    }

    .part2-description {
        width: 100%;
        text-align: center;
    }

    .part2-inner {
        display: block;
    }

    .part2-inner img {
        width: 280px;
    }

    .product {
        text-align: center;
    }

    .menu2 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    #main-container {
        flex-direction: column;
    }

    .items-container {
        width: 100%;
    }

    .resume-container {
        width: 100%;
        margin: 0px 0px 30px 0px;
    }

    .items-container h2 {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
        padding-left: 20px;
    }

    .items-resume h2 {
        font-size: 20px;
    }

    .total-price {
        font-size: 15px;
    }

    label {
        font-size: 17px;
    }

    .button {
        font-size: 17px;
    }


}


@media (min-width: 1024px) and (max-width: 1366px) 